html,
body {
  background-color: #ecfcff  !important;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hoverForm:hover,
.hoverForm:focus,
.hoverForm:active {
  box-shadow: 0 0 0 1pt lightgray;
}
